[Unit]
Description=Userspace application, interacting with character driver
[Service]
User=root
Environment=TERM=xterm
ExecStart=<your_path>
Restart=always
[Install]
WantedBy=multi-user.target
